.App {
  text-align: center;
}

.nav-banner {
  margin: 0;
}

.welcome-tag {
  font-size: 35px;
  color: #5F3D2F;
  font-weight: 700;
}

.nav-link {
  font-size: 25px;
  font-weight: 500;
  text-decoration: none;
  margin: 0 10px;
  color: #3E3740;
}

.nav-link:hover {
  border-bottom: 3px solid rgba(255, 192, 200, 0.7);;
}

.favorite-btn .heart-icon {
  height: 100px;
  width: 100px;
  background: url('../../../public/images/heart.png');
  background-position: left;
  cursor: pointer;
  position: absolute;
}

.favorite-btn .heart-bg {
  background-color: rgba(255, 192, 200, 0);
  border-radius: 50%;
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 100ms ease;
}

.favorite-btn .heart-bg:hover {
  background-color: rgba(255, 192, 200, 0.7);
}

.favorite-btn .heart-icon:active {
  animation: favorite-anim 0.7s steps(28) forwards;
}

.favorite-btn:focus .heart-icon {
  animation: favorite-anim 0.7s steps(28) forwards;
}

.heart-icon-favorited {
  height: 100px;
  width: 100px;
  background: url('../../../public/images/heart.png');
  background-position: left;
  cursor: pointer;
  position: absolute;
  animation: favorite-anim 0.7s steps(28) forwards;
}

@keyframes favorite-anim {
  to {
    background-position: right;
  }
}